:root {
  --yellow: #ffbb00;
  --light-yellow: #ffd666;
  --black: #000000;
  --dark_bg: #010005;
  --white: #ffffff;
  background-color: var(--dark_bg);
  --nav-height: 3.5rem;
}

/*main styling*/
.main {
  margin-top: 4rem;
  padding: 2rem;
  background-color: var(--dark_bg);
}

/*body styling*/
body {
  padding-top: var(--nav-height);
  background-color: var(--dark_bg);
  font-family: "Alegreya", serif;
  line-height: 1.6;
}

body p,
body a {
  font-size: 2rem;
}
body ul li {
  font-size: 1.8rem;
  margin-left: 1rem;
}
body h3 {
  font-size: 2.2rem;
}

/*navbar styling*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--black);
  width: 100%;
  min-height: var(--nav-height);
  height: auto;
  z-index: 1;
  transition: transform 0.35s ease;
}

.nav--hidden {
  transform: translateY(-100%);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li:hover {
  background-color: var(--light-yellow);
}

nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--white);
  padding: 0.5em 1em;
}

nav ul li a:hover {
  display: block;
  text-decoration: none;
  background-color: var(--light-yellow);
  color: var(--black);
  padding: 0.5em 1em;
}

/*anchor for the navbar, this helps it go to a more user-friendly position*/
.anchor {
  position: relative;
  top: -50px;
  left: 0px;
}

/*styling for multiple sections*/
.projects h2,
.about h2,
.experience h2,
.contact h2 {
  margin-left: 1rem;
  font-size: 3rem;
}

.about,
.projects,
.contact,
.experience {
  background-color: var(--yellow);
  border-radius: 8px;
  padding: 1.5rem;
  margin: 1.5rem;
  overflow: hidden;
}

/*header styling*/
.header {
  background-color: var(--yellow);
  border-radius: 8px;
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: center;
  padding: 0.15rem;
}

#header h1 {
  color: var(--dark_bg);
  font-size: 5rem;
}

/*about me styling*/
.about-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  border: 0.25rem solid black;
}

/*experience section styling*/
.experience p,
h3 {
  margin-left: 1rem;
}

/*projects styling*/
.projects h3 {
  margin-left: -0.1rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  margin: auto;
}

/*carousel styling*/
#projects-carousel {
  width: 100%;
  max-width: 40rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

#projects-carousel .carousel-item img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  border-radius: 5px;
  border: 0.25rem solid black;
}

#projects-carousel .carousel-control-prev {
  margin-left: 0.6rem;
  z-index: 0; /*prevents buttons going over navbar*/
  color: black;
}

#projects-carousel .carousel-control-next {
  margin-right: 0.4rem; /*positioning these was weird for some reason*/
  z-index: 0; /*prevents buttons going over navbar*/
  color: black;
}

.carousel {
  border-radius: 8px;
  overflow: hidden;
}

/*Hidden text was throwing contrast errors*/
.visually-hidden {
  color: black;
  background-color: white;
}

/*styling for github link button*/
.link-button {
  background-color: var(--dark_bg);
  padding: 0.35rem;
  text-decoration: none;
  color: var(--white);
  border-radius: 5px;
  border: 0.15rem solid black;
}

.link-button:hover {
  background-color: var(--light-yellow);
  color: black;
}

/*contact section styling*/
#email {
  background-color: var(--light-yellow);
  margin-left: 15px;
  border: 0.15rem solid black;
}

#email:focus {
  outline: none;
  border-color: var(--black);
}

.contact,
.contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact #submit {
  width: 125px;
  justify-content: center;
  margin-top: 0.5rem;
  background-color: var(--dark_bg);
  color: var(--white);
  border-radius: 5px;
  border: 0.15rem solid black;
  font-size: 2rem;
}

.contact #submit:hover {
  background-color: var(--light-yellow);
  color: var(--black);
}

.contact label {
  font-size: 1.6rem;
}

/*misc. styling*/
img {
  display: block;
}

/*media queries for smaller screens*/
@media (max-width: 768px) {
  .experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about,
  .projects {
    text-align: center;
  }

  .about-grid,
  .projects-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-grid img,
  .projects-grid img {
    grid-template-columns: 1fr;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-left: auto;
  }

  #projects-carousel {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 18rem;
    width: 100%;
  }

  #email {
    width: 75%;
    height: 75%;
    box-sizing: border-box;
    margin-left: 0;
  }

  #header h1 {
    color: var(--dark_bg);
    font-size: 3rem;
  }
}
